:root {
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --information-text: #1F2937;
    --button-color: #3882F6;

}

* {
    font-family: 'Roboto';
    margin: 0;
}

body, .color-blue {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: center;
    padding-left: 108px;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-links {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: end;
    padding-right: 108px;
}

.header {
    color: var(--main-text);
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
}

nav li {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-section {
    display: flex;
}

.img-left {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding-left: 108px;
    padding-bottom: 120px;
    padding-top: 119px;
    padding-right: 25px;
}

.img-left h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-text);
    margin-bottom: 0px;
}

.img-left p {
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 350;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-right: 100px;
    
}

button {
    color: var(--secondary-text);
    background-color: var(--button-color);
    font-size: 18px;
    width: 135px;
    height: 40px;
    border-radius: 8px;
    border-width: 0px;
    padding: 15px 30px;
    font-weight: 500;
    text-align: center;
    line-height: 0px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    width: 58%;
    padding-right: 108px;
}

.image-container p {
    position: relative;
    top: 15%;
    width: 519px;
    height: 236px;
    color: var(--secondary-text);
    background-color: #6d747d;
    text-align: center;
    line-height: 236px;
    font-size: 18px;
}

.color-white {
    background-color: #FFFF; 
    padding-bottom: 110px;
}

.color-white h2 {
    color: var(--information-text);
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-placeholder {
    border: 4px solid var(--button-color);
    border-radius: 9px;
    height: 159px;
    width: 163px;
}

.multiple-img {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.multiple-img > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiple-img p {
    padding-top: 10px;
    text-align: center;
    color: #565F6D;
    font-size: 18px;
}

.color-gray {
    background-color: var(--secondary-text);
    height: 431px;
}

.quote-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

quote {
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
    color: var(--information-text);
    width: 790px;
}

.color-gray p {
    position: relative;
    left: 65%;
    top: -150px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
}

.white-container {
    padding-top: 115px;
    padding-bottom: 115px;
}

.blue-border {
    background-color: var(--button-color);
    border-radius: 5px;
    width: 1024px;
    height: 150px;  
    position: relative;
    left: 30%;
    top: 57px;
}

.blue-border h3 {
    color: var(--main-text);
    font-size: 27px;
    padding-left: 121px;
    padding-top: 52px;
    width: 300px;
}

.blue-border p {
    color: var(--main-text);
    font-size: 18px;
    font-weight: 300;
    padding-left: 121px;
    width: 487px;
    
}

.blue-border button {
    color: var(--main-text);
    border: 2px solid var(--main-text);
    position: relative;
    font-size: 18px;
    width: 135px;
    height: 40px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    left: 76%;
    top: -28%;
}

.copyright-container {
    padding: 39px;
}
.copyright {
    color: var(--main-text);
    font-size: 18px;
    text-align: center;
}